<div class="container d-flex align-items-center flex-column">
    <div class="p-8">
        <h1 class=" mb-2">A kiss that never tasted, is forever and ever wasted</h1>
    </div>
    <div class="">
        <p class="text-muted">
            You dont have your soul mate. Do NOT hesitate! Do NOT wait, because she is waiting
            for you her!
            Just sign up!
        </p>
    </div>
    <div class="">
        <p class="text-warning">
            and follow me on instagram
        </p>
    </div>
    <div class="">
        <button class="btn btn-outline-light mr-2" (click)="cancel()" type="button">Cancel</button>
    </div>
</div>