<div class="container d-flex align-items-center flex-column">
    <div class="p-8">
        <h1>A kiss that never tasted, is forever and ever wasted</h1>
    </div>
    <div class="p-2">
        You dont have your soul mate. Do NOT hesitate! Do NOT wait, because she is waiting for you her!
        Just sign up!
    </div>
    <div class="p-2">
        and follow me on instagram
    </div>
    <div class="p-2">
        <button class="btn btn-light mr-2" (click)="cancel()" type="button">Cancel</button>
    </div>
</div>